footer{
    display: flex;

    justify-content: space-between;
    align-items: center;
    height: 90px;
    box-shadow: 0 0 5px 0 #0003;
}

@media(min-width:1260px) {
    footer{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    }		
}

